/* **** WordPress Custom Header ***** */
.WP-Header{
    height: 100vh;
    position: relative;
    width: 100%;
}
/* .WP-Header img{
    height: 100%;
    width: auto;
} */
.WP-Header-branding{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    text-align: center;
    top:0;
    width: 100%;
}
.WP-Header-title{font-size: 5vw;}
.WP-Header-description{
    font-size: 3.5vw;
    width: 60%;
}
@media screen and (min-width:64em){
    .WP-Header-description{
        font-size: 2.5vw;
        width: 80%;
    }
}